body {
  font-family: "Montserrat";
  text-align: center;
  
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.white-section {
  background-color: #fff  ;
}

.colored-section {
  color: #fff;
  background-color: #ff4c68;
}
.big-text {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;
  margin: 30px 0;
}

.container-fluid {
  padding: 7% 15%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Ubuntu";
}

.nav-item {
  padding: 0px 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

#features {
  position: relative;
  z-index: 1;
}

.ft-column {
  padding: 5%;
}

.ft-title {
  font-size: 1.5rem;
}

.ft-p {
  color: #8f8f8f;
  margin: 10px 0;
}
.ft-icon {
  color: #ef8172;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.ft-icon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;
}

.testimonials-title {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
}

.logos {
  width: 15%;
  margin: 20px 20px 20px;
}

#pricing {
  padding: 5%;
}

.price-column {
  padding: 3% 2%;
}

.price-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card-title {
  font-size: 1.5rem;
}

.cta-title {
  font-size: 3rem;
  color: #fff;
}

.footer-logos {
  margin:20px 10px;
  color: #000;
}

.footer-logos:hover  {
color: #1C7ED6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}
footer {
  background-color: #fff;
}

@media (max-width: 1100px) {

  .title-img {
    position:static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}